.name {
    font-family: 'Times New Roman', Times, serif;
    size: 0ch;
   color: black;
   padding: 0;
   margin: 0;
   font-style: bold;

}
.name:hover {
    
    border-width: medium;
    border: black;
    color:blue;
    text-shadow: 10px 10px red;
}
.direction {
    font-family: 'Times New Roman', Times, serif;
    padding: 0%;
   margin: 0;
   size: 0ch;
   color: black;
   background-color: lightyellow;
   

}
.direction:hover {
    color: red;
    background-color: yellow;
}
.speech {
    font-family: 'Times New Roman', Times, serif;
    padding: 0%;
   margin: 0;
   size: 0ch;
   color: blueviolet;
   

   
}
.HARPAGON {
    color: green;
    padding: 0%;
   margin: 0;
   float: inline-start;
}
.ÉLISE {
    color: blue ;
    padding: 0%;
   margin: 0;
}
.CLÉANTE {
    color:brown;
    padding: 0%;
   margin: 0;
}
table {
    font-family:'Times New Roman', Times, serif;
    border-collapse: collapse;
    width: 50%;
    padding:8px;
    margin:10px;
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding:8px;
    margin:10px;
  }
  tr:nth-child(even){
    background-color:lightgreen;
}
  .speech.HARPAGON {
      float: left;
      color: blue;
  }

